{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap_form bootstrap_button from django_bootstrap5 %}

{% block content %}
  {% if validlink %}
  <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="card-body align-items-center d-flex justify-content-center">
      {% bootstrap_button button_type="submit" button_class='btn btn-primary mx-1 btn-block' content=_('Change my password') %}
    </div>
  </form>
  {% else %}
  <p>{% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
  {% endif %}
{% endblock content %}
