{% extends 'base.html' %}

{% load bootstrap_form bootstrap_button from django_bootstrap5 %}

{% block content %}
  <form method="post" class="section mb-5 p-2">
    {% csrf_token %}
    {% bootstrap_form form label_class='label' wrapper_class='form-group basic input-wrapper' %}
    <div class="card-body align-items-center d-flex justify-content-center">
      {% bootstrap_button button_type="submit" button_class='btn btn-primary mx-1 btn-block' content=_('OK') %}
      {% bootstrap_button button_type="reset" button_class='btn-light mx-1 btn-block' content=_('Reset') %}
    </div>
  </form>
{% endblock %}
